<%= render 'snippets/errors' %>
<%= form_for (@snippet) do |f| %>
  <ul>
    <li>
      <%= f.label :language %>
      <%= f.select :language, language_options %>
    </li>
    <li>
      <%= f.text_area :content %>
    </li>
    <li>
      <%= f.submit t(:publish) %>
    </li>
  </ul>
<% end %>
