<!DOCTYPE html>
<html>
  <head>
    <title>Pastis | <%= @title %></title>
    <%= stylesheet_link_tag "shCore",
                            "shThemeDefault" %>
    <%= javascript_include_tag "syntax-highlighter/shCore",
                               "syntax-highlighter/shAutoloader",
                               :cache => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <h1><%= @title %></h1>
    <%= render "pages/lookup" %>
    <%= yield %>
  </body>
</html>
